.observe-time-container,
.parent-visible-container {
  margin-top: 40px;

  .at-calendar__header {
    &.header {
      display: unset;
    }
  }
}

.common-value-content {
  height: 112px;
  background: #F2F4F7;
  border-radius: 20px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 30px;
  color: #1E222F;
  letter-spacing: 0;
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .value-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.holder {
      color: #9296A6;
    }
  }

  .at-icon {
    font-size: 32px;
    color: #9498a8;
  }
}